.idea/
Alphazero/stockfish-10-win/Windows/stockfish_10_x64_popcnt.exe
Alphazero/stockfish-10-win/Windows/stockfish_10_x64_bmi2.exe
Alphazero/stockfish-10-win/Windows/stockfish_10_x64.exe
Alphazero/stockfish-10-win/Windows/stockfish_10_x32.exe
Alphazero/stockfish-10-win/Top CPU Contributors.txt
Alphazero/stockfish-10-win/tests/signature.sh
Alphazero/stockfish-10-win/tests/reprosearch.sh
Alphazero/stockfish-10-win/tests/perft.sh
Alphazero/stockfish-10-win/tests/instrumented.sh
Alphazero/stockfish-10-win/src/ucioption.cpp
Alphazero/stockfish-10-win/src/uci.h
Alphazero/stockfish-10-win/src/uci.cpp
Alphazero/stockfish-10-win/src/types.h
Alphazero/stockfish-10-win/src/tt.h
Alphazero/stockfish-10-win/src/tt.cpp
Alphazero/stockfish-10-win/src/timeman.h
Alphazero/stockfish-10-win/src/timeman.cpp
Alphazero/stockfish-10-win/src/thread_win32.h
Alphazero/stockfish-10-win/src/thread.h
Alphazero/stockfish-10-win/src/thread.cpp
Alphazero/stockfish-10-win/src/syzygy/tbprobe.h
Alphazero/stockfish-10-win/src/syzygy/tbprobe.cpp
Alphazero/stockfish-10-win/src/search.h
Alphazero/stockfish-10-win/src/search.cpp
Alphazero/stockfish-10-win/src/psqt.cpp
Alphazero/stockfish-10-win/src/position.h
Alphazero/stockfish-10-win/src/position.cpp
Alphazero/stockfish-10-win/src/pawns.h
Alphazero/stockfish-10-win/src/pawns.cpp
Alphazero/stockfish-10-win/src/movepick.h
Alphazero/stockfish-10-win/src/movepick.cpp
Alphazero/stockfish-10-win/src/movegen.h
Alphazero/stockfish-10-win/src/movegen.cpp
Alphazero/stockfish-10-win/src/misc.h
Alphazero/stockfish-10-win/src/misc.cpp
Alphazero/stockfish-10-win/src/material.h
Alphazero/stockfish-10-win/src/material.cpp
Alphazero/stockfish-10-win/src/Makefile
Alphazero/stockfish-10-win/src/main.cpp
Alphazero/stockfish-10-win/src/evaluate.h
Alphazero/stockfish-10-win/src/evaluate.cpp
Alphazero/stockfish-10-win/src/endgame.h
Alphazero/stockfish-10-win/src/endgame.cpp
Alphazero/stockfish-10-win/src/bitboard.h
Alphazero/stockfish-10-win/src/bitboard.cpp
Alphazero/stockfish-10-win/src/bitbase.cpp
Alphazero/stockfish-10-win/src/benchmark.cpp
Alphazero/stockfish-10-win/Readme.md
Alphazero/stockfish-10-win/Copying.txt
Alphazero/stockfish-10-win/AUTHORS
Alphazero/stockfish-10-win/appveyor.yml
